.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  height: 150px;
  width: 200px;
  margin: 8px;
  float: left;
  text-align: left;
  background: peru;
  color: #fff;
  padding: 15px;
  margin: 20px;
}

.title{
  margin-bottom: 10px;

}

.idea-Button{
  background: red;
  color: #fff;
  font-size: 20px;
  padding: 12px;
  border: none;
}